canvas{
    border:1px solid rgba(84, 84, 102, 0.8)
}

h1 {
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 12px;
    font-family: Roboto-Medium,sans-serif;
    color:#808080;
    /*text-align:center;*/
}

h2 {
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 10px;
    font-family: Roboto-Medium,sans-serif;
    color:#aaaaaa;
    /*text-align:center;*/
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("Roboto-Medium.ttf");
}
