html {
    background: #444444;
    /**background-image: url("pictures/background.jpg");**/
}

canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("Roboto-Medium.ttf");
}
