html {
    background: #444444;
    /**background-image: url("images/background.jpg");**/
}

canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6.5px;
        margin-bottom: auto;
        display: block;
        background-image: url("images/sidetwo.jpg");
}

@font-face {
    font-family: 'DINPro-Cond';
    src: url("DINPro-Cond.otf");
    font-family: 'DINPro';
    src: url("DINPro.otf");
}
